/*
.nunito-sans-<uniquifier> {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
    border-top:
border-right: 
border-bottom:
}
*/
html {
  scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img, video{
    max-width: 100%;
    height: auto;
}

body{
    box-sizing: border-box;
    margin: 0  ;
    height: 100vh;
    position: relative;
    
  
}
.header{
   border: 1px solid #000;
   background-color: #000;
   min-height: auto;
   margin: 0;
}
.nav_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}
.logo{
    margin-top: 10px;
}
.nav_bar img{
    width: 70px;
}
.menu-toggle{
    display: none;
    font-size: 35px;
    color: #fff;
    cursor: pointer;
    margin-right: 15px;
}
.nav_bar ul{
    position: relative;
    top: 20px;
}
.list__element{
    display: flex;
    gap: 15px;
    margin-right: 15px;
}
.list__element-a{
    display: flex;
}
.list__element-a li{
    list-style: none;
}
.list__element-a a{
text-decoration: none;
color: #fff;
font-size: 22px;
/*font-family: "Nunito Sans", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-size: 18px;*/
}
.list__element-a a:hover{
    border-radius: 1px;
    border-bottom: 2px solid #999;
}
/*
video{
    width: 100%;
}
.main__inicio{
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}*/
.main__inicio{
 
  min-height: 650px;
  background-image: url("IMAGENES/fondo3.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.main__inicio-titulo{
      color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-size: clamp(40px, 8vw, 65px);

}
.section{
    position: relative;
   padding: 0;
    border: 2px solid #000;
    background-color: #000;
    margin: 0;
}
.section video{
    position: relative;
    left: 25px;
    height: auto;
}
.section__grid{
    display: flex;
    justify-content: space-around;
    gap: 40px;
    padding: 30px;
}
.section__grid-item{
    color: #fff;
}
.item-2{
    position: relative;
    top: 50px;
}
.item-2 h2{
    font-size: 45px;
}
.item-2 p{
    
    font-size: 23px;
    max-width: 900px;
    line-height: 1.2;
}
.titulo-h3{
    font-family: 30px;
}
.button{
    padding: 10px 30px;
    border-radius: 13px;
    background-color: #fff;
    border: 1px solid #000;
    margin-top: 20px;
    margin-left: 5px;
}
.button a{
    text-decoration: none;
    color: #000;
    font-size: 15px;
}
.button:hover{
    border: 1px solid #fff;
    transition: 0.3s;
}

.Reserva{
    display: block;
    padding: 20px;
    text-align: center;
}
.form-reseva{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.form-element{
    position: relative;
    display: flex;
    justify-content: center;

}

.form-element input{
    width: 44%;
    padding: 8px 15px 8px 40px;
    border-radius: 15px;
    
}
.form-element .material-icons{
    position: absolute;
    left: calc(37% - 120px); /* ajusta el icono */
    top: 50%;
    transform: translateY(-50%);
    color: #555;
    pointer-events: none;
}


.form-element1 input{
    width: 22%;
    padding: 5px 15px;
    border-radius: 15px;
}

.form-element1 button{
    width: 44%;
    border-radius: 15px;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
}
.form-element1 a{
    text-decoration: none;
    color: #fff;
}
.form-element1 a:hover{
    border-bottom: 1px solid #ccc;
}
.mapa{
    width: 50%;
}
.frase{
  display: grid;
  grid-template-columns: 1fr 1fr; /* dos columnas iguales */
  align-items: center;
  gap: 40px;
  padding: 80px 40px;
  background-color: #000;
  color: #fff;
}

.frase_element{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.frase_element h2{
  font-size: 50px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.frase_element p{
  font-size: 25px;
  line-height: 1.4;
  text-align: center;
}

.element_img{
    width: 80%
}
.element_button{
  display: flex;
  justify-content: center;
  margin-right: 50px;
 
}

   

.element_button button {
     background: transparent;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  position: relative; /* CLAVE */
  overflow: hidden;
  padding: 10px 20px;
  border: 1px solid #fff;
   z-index: 0; /* fondo */
}
.element_button button span {
  position: relative;
  z-index: 1;
}
.element_button button:hover span {
  color: #000;
}
.element_button button::after{
content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 100%;
  background-color: #f5f5f5;
  transition: all 0.4s ease;
  transform: translateX(-50%);
}
.element_button button:hover::after{
    width: 100%;
}
.element_button a{
    text-decoration: none;
    color: #fff;
}
.tabla-section {
    display: flex;
    justify-content: center;
    padding: 15px;
    
}
.tabla{
    display: grid;
    grid-template-columns: repeat(4,300px);
    grid-template-rows: repeat(2,250px);
    justify-content: center;
    
    flex-wrap: wrap;
    box-shadow: 
  0 10px 25px rgba(0,0,0,0.15),
  0 30px 60px rgba(0,0,0,0.08);

}
.tabla_element{
    background-color: #F8F9FA;
     flex-wrap: wrap;
     
}
.tabla_element h2{
    text-align: center;
    font-size: 50px;
    padding: 10px 20px;
}
.tabla_element p{
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 10px 20px;
}
.imagen img{
    height: 250px;
}
.imagen2 img{
    height: 250px;
    width: 100%;
}
@media (max-width: 768px) {

    .nav_bar{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .menu-toggle{
        display: block;
    }

    .list{
        display: none;
        width: 100%;
        background-color: #000;
    }

    .list.active{
        display: block;
    }

    .list__element{
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 20px 0;
        margin: 0;
    }

    /* SECTION GRID */
    .section__grid{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .item-2 h2{
        font-size: 28px;
    }

    .item-2 p{
        font-size: 16px;
    }
    .form-reseva{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.form-element input{
    width: 62%;
    padding: 8px 15px 8px 40px;
    border-radius: 15px;
    
}
.form-element .material-icons{
    position: absolute;
    left: calc(50% - 31% + 12px);/*Partimos de la mitad osea el 50%, le quitamos la mitad al input 62/2 y agregamos un pequeño margen del 12%*/
    top: 50%;
    transform: translateY(-50%);
    color: #555;
    pointer-events: none;
}
.form-element1 input{
    width: 30%;   
}
.form-element1 button{
    width: 50%;
}
.mapa{
    width: 80%;
}
  .frase {
    grid-template-columns: 1fr;
  }

  .frase_element {
    align-items: center;
    text-align: center;
}
.element_img{
    width: 100%;;
}
.tabla{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


}


